openapi: 3.0.3
servers:
  - url: https://sentiment.infer.visai.ai/predict
    description: Default server
info:
  title: Sentiment Analysis
  version: 1.0.2
  description: |
    Sentiment analysis is a text classification model that analyses the given sentence and determines its underlying sentiment—Positive, Neutral, and Negative. This method is often used in business to gauge opinions of individuals or groups. This model can be integrated with several use cases, most of which focus on customer experience management, social monitoring, customer feedback, and voice of the customer or employee.

    # Base Model - Product Review
    > **Provider: VISAI.ai**

    The model is trained from the dataset that was scraped from online shopping sites, where we focus mostly on product reviews on multiple categories including female fashion, male fashion, cosmetic, electronic devices & gadgets, etc. This model is specifically trained to predict sentiment based on a specific domain while putting emphasis on customer’s product reviews sentences. Therefore, the model performance could be worsened if the prompt data is in a different domain. For example, in domains such as social media comment, healthcare, legal, or other data that its domain is not product review based, it is expected that a model performance would be bad.

    # Authentication
    Sentiment Analysis requires API key for API request. Go to [VISAI Console - API Key](https://console.visai.ai/api-key) to create and get your API Key.
      - X-API-Key
tags:
  - name: ai-marketplace
    description: AI marketplace inference API
    x-displayName: AI Marketplace
# x-tagGroups:
#   - name: General
#     tags:
#       - base-model
paths:
  /predict:
    post:
      tags:
        - ai-marketplace
      summary: Sentiment Analysis - Product Review
      description: AI categorizes text content by classifying topics or identifying responsible staff mentioned in the text.
      operationId: https://sentiment.infer.visai.ai
      responses:
        "200":
          description: Return list of JSON where each element is another key-value object that contains its sentence and its predicted probability of each class.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    inputs:
                      type: string
                      description: Input sentence
                    results:
                      type: object
                      description: Results of predicted probability of each class
                      properties:
                        Positive:
                          type: number
                          description: Positive predicted probability
                        Neutral:
                          type: number
                          description: Neutral predicted probability
                        Negative:
                          type: number
                          description: Negative predicted probability
              example:
                value:
                  - inputs: สวัสดีครับ
                    results:
                      Positive: 0.7945334467741602
                      Neutral: 0.1721096410630493
                      Negative: 0.0333569121627906
        "400":
          description: inputs not founds | Incorrect request body field (inputs)
        "401":
          description: Unauthorized | Incorrect X-API-Key or X-API-Key not have access to this model
      parameters:
        - schema:
            type: string
          in: header
          required: true
          name: X-API-Key
          description: Your API key
        # - schema:
        #     type: string
        #   in: header
        #   name: Content-Type
        #   required: true
        #   description: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                inputs:
                  type: array
                  description: List of sentences
                  items:
                    type: string
              example:
                inputs:
                  - สินค้าดี
                  - ส่งไวมาก
        required: true
    parameters: []
