openapi: 3.0.3
servers:
  - url: https://stt.infer.visai.ai
    description: Default server
info:
  title: Speech to Text
  version: 1.0.0
  description: |
    Speech to Text or Automatic Speech Recognition (ASR) is one of the machine learning tasks that aim to predict the corresponding transcription from a given audio input. ASR can be beneficial for several use cases, such as online course transcription, movie subtitle, call center transcription, and so forth.

    # Base Model - Thai Speech to Text
    > **Provider: Gowajee**

    We utilized a model from our partner, [Gowajee](https://www.gowajee.ai/). The model is trained by using over 1,000 hours of annotated data collected online by our partner from various sources. This model can perform in general topics but specializes in call center. The model could be worsened if audio contains code switching, low-quality speech, and overlapping speech data. The model's performance in the term of transcribe speech was evaluated on around 60 hours of speech data, which was collected from the same source as the training data. For diarization, it was evaluated on artificial conversations created from audio pools containing around 50 speakers. Each speaker appears only once in a conversation, ensuring there is no overlap between speakers across conversations.

    # Authentication
    Speech to Text requires API key for API request. Go to [VISAI Console - API Key](https://console.visai.ai/api-key) to create and get your API Key.
      - X-API-Key
tags:
  - name: ai-marketplace
    description: AI marketplace inference API
    x-displayName: AI Marketplace
# x-tagGroups:
#   - name: General
#     tags:
#       - base-model
paths:
  /predict:
    post:
      tags:
        - ai-marketplace
      summary: Speech to Text AI Marketplace
      description: AI can transcribe speech into text, supporting multiple file types such as mp3, wav, and flac.
      operationId: https://stt.infer.visai.ai/predict
      responses:
        "200":
          description: Return list of transcribed text that corresponds to speech detected in audio.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of transcription request
                  data:
                    type: object
                    description: Result data of transcription
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            filename:
                              type: string
                              description: Name of audio file
                            duration:
                              type: string
                              description: Total time(sec) of audio file
                            predictions:
                              type: array
                              description: List of outputs corresponds to speech detected in audio file
                              items:
                                type: object
                                properties:
                                  transcript:
                                    type: string
                                    description: Transcribed text
                                  start:
                                    type: string
                                    description: Start time(sec) of transcribed text
                                  end:
                                    type: string
                                    description: End time(sec) of transcribed text
                                  speaker_id:
                                    type: number
                                    description: Speaker ID // optional
                                  speaking_rate:
                                    type: string
                                    description: Speaking rate of each transcription // optional
                                  word_timestamps:
                                    type: array
                                    description: List of time offsets of each word // optional
                                    items:
                                      type: object
                                      properties:
                                        word:
                                          type: string
                                          description: Transcribed word // optional
                                        start_time:
                                          type: string
                                          description: Start time(sec) offset of word // optional
                                        end_time:
                                          type: string
                                          description: End time(sec) offset of word // optional
        "204":
          description: No content | No result of transcription
        "400":
          description: No audio file | Not found audio file *or* Bad requests | Server cannot or will not process the request
        "401":
          description: Unauthorized | Incorrect X-API-Key or X-API-Key not have access to this model
        "415":
          description: Can't decode [filename] | Unsupported file format
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: string
                  format: binary
                  description: Audio speech file
                num_speakers:
                  type: number
                  description: (optional) Number of speakers diarization in 1-4 speakers
                word_timestamps:
                  type: string
                  description: (optional) true or false // default 'false'
                speaking_rate:
                  type: string
                  description: (optional) true or false // default 'false'
                decoder_type:
                  type: string
                  description: (optional) Greedy, BeamSearch, or LMBeamSearch // default 'LMBeamSearch'
                word_list:
                  type: string
                  description: (optional) List of terminology ex. ['word', 'word', ...]
              required:
                - files
      parameters:
        - schema:
            type: string
          in: header
          name: X-API-Key
          description: Your API key
          required: true
        # - schema:
        #     type: string
        #   in: header
        #   name: Content-Type
        #   required: true
        #   description: multipart/form-data
    parameters: []
