openapi: 3.0.3
servers:
  - url: https://infer.visai.ai/v1/inference-servers/
    description: Default server
info:
  title: OCR General Document
  version: 1.0.0
  description: |
    Optical Image Recognition (OCR) or Image to Text is a process of extracting textual information from image file formats (PDF, PNG, JPEG, etc.) that cannot be edited, searched, or counted into a machine-readable text format. This makes it easier and more accurate for a computer to perform some tasks on text. For example, an OCR and information retrieval can be used in document search from PDF files.

    # Base Model - VISAI OCR General Document (TH-EN)
    > **Provider: VISAI.ai**

    The model is trained with a dataset which contains both a synthesized dataset and some official PDF documents scraped online. The synthesized dataset was generated to mimic the document format and to make the model more robust on different generation conditions. Additionally, several augmentation techniques were also applied to make the model more robust.

    # Authentication
    OCR General Document requires API key for API request. Go to [API Key Management](https://visai.ai/api-key-management) to create and get your API Key.
      - x-api-key
tags:
  - name: base-model
    description: Base model inference API
    x-displayName: Base Model API
x-tagGroups:
  - name: General
    tags:
      - base-model
paths:
  /base/infer-ocr:
    post:
      tags:
        - base-model
      summary: OCR General Document Base-model
      description: Extracting textual information from image into a machine-readable text.
      operationId: https://infer.visai.ai/v1/inference-servers
      responses:
        "200":
          description: Return list of transcribed text from image or document file
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    image_size:
                      type: array
                      description: Size of image or document
                      items:
                        type: integer
                    results:
                      type: array
                      description: Coordinate x, y of text box
                      items:
                        type: string
                    texts:
                      type: string
                      description: Text result

        "204":
          description: No content | No result of transcription
        "400":
          description: No file | Not found document or image file *or* Bad requests | Server cannot or will not process the request
        "401":
          description: Unauthorized | Incorrect x-api-key or x-api-key not have access to this model
        "415":
          description: Can't decode [filename] | Unsupported file format
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: string
                  format: binary
                  description: Image or document file ('.docx', '.pptx', '.pdf', '.jpeg', and '.png' format)
              required:
                - files
      parameters:
        - schema:
            type: string
          in: header
          name: x-api-key
          description: Your API key
          required: true
        # - schema:
        #     type: string
        #   in: header
        #   name: Content-Type
        #   required: true
        #   description: multipart/form-data
    parameters: []
